<footer>
    <div
      class="navbar navbar-expand-lg pt-4 pb-5 pb-md-4 px-3 mb-0 mt-auto bg-primary"
    >
      <div class="container d-flex justify-content-between mb-4 mb-md-0">
        <div class="d-flex align-items-center gap-1">
          <img
            id="img_logo"
            src="https://turnedin.id/img/logo/1714118413317.png"
            alt=""
          />
          <a class="navbar-brand fw-semibold mx-0 text-white" href="#"
            >Turned In</a
          >
        </div>

        <div
          class="nav-item mt-2 mt-lg-0 d-block d-flex justify-content-lg-end"
        >
          <!-- card -->
          <small class="navbar-nav ms-auto mb-2 mb-lg-0 fz-12">
            <div class="card m-1 rounded-3">
              <div class="card-body p-1 d-flex">
                <img
                  class="icon_footer"
                  src="https://turnedin.id/img/logo/whatsapp.png"
                  alt=""
                />
                <p class="card-text my-auto mx-1">6282116719760</p>
              </div>
            </div>

            <div class="card m-1 rounded-3">
              <div class="card-body p-1 d-flex">
                <img
                  class="icon_footer"
                  src="https://turnedin.id/img/logo/ig.jpg"
                  alt=""
                />
                <p class="card-text my-auto mx-1">turnedin.id</p>
              </div>
            </div>

            <div class="card m-1 rounded-3">
              <div class="card-body p-1 d-flex">
                <img
                  class="icon_footer"
                  src="https://turnedin.id/img/logo/tiktok.jpg"
                  alt=""
                />
                <p class="card-text my-auto mx-1">turnedin.id</p>
              </div>
            </div>
          </small>
        </div>
      </div>
    </div>

    <!-- floating button -->
    <button
      id="floating_button"
      type="button"
      class="btn btn-secondary floating-btn rounded-3"
    >
      <img
        id="img_float"
        src="https://turnedin.id/img/logo/cs.png"
        alt=""
      />
    </button>
  </footer>